In [ ]:
Lat = []
Long = []
# Read Lat and Long data from file into list
with open("Ex_Preprocess_LatLong.txt", "r", encoding="utf-8") as LatLong:
    # The LatLong.txt must have this format: 34, -56.7
    for line in LatLong:
        if "\n" in line:
            #Remove the newline from each line
            line=(line.split(sep="\n"))[0]
        #Grab the Latitude from the line
        Lat.append(float((line.split(sep=","))[0]))
        #print(Lat)
        Long.append(float((line.split(sep=","))[1]))
        #print(Long.pop())
    print(Lat)
    print(Long)

In [1]:
import pandas as pd

# Read in data directly into pandas
df = pd.read_csv('Ex_pandas_data.csv', sep=',', encoding='latin1')
print(df.head())
print(df.describe())

     Latitude        City, State     Longitude User Ratings
0  38.8903961      Arlington, VA   -77.0841585            2
1  27.7703796  St Petersburg, FL   -82.6695085            2
2  40.6914852        Jamaica, NY   -73.8056771            3
3  37.7792768  San Francisco, CA  -122.4192704            3
4  39.9622601       Columbus, OH   -83.0007065            2
          Latitude    City, State    Longitude User Ratings
count          100            102          100          102
unique         100            101          100            5
top     42.1306554  Manhattan, NY  -76.6874671            5
freq             1              2            1           58

In [2]:
print(df.shape)
print(df['Latitude'].nunique())
print(df['Latitude'].isnull().sum())
# See counts of each value for User Ratings
print(df['User Ratings'].value_counts())

(102, 4)
100
2
5    58
4    29
3     9
2     5
a     1
Name: User Ratings, dtype: int64

In [7]:
# Find all rows in CA
print(df[df["City, State"].str.contains("VA", na=False)])
# Find all the rows with a list of values
valuelist = ['1', '2', 'a']
print(df[df["User Ratings"].isin(valuelist)])

      Latitude          City, State    Longitude User Ratings
0   38.8903961        Arlington, VA  -77.0841585            2
9   38.8051095       Alexandria, VA  -77.0470229            4
19  38.3031837   Fredericksburg, VA  -77.4605399            3
30  38.8462236          Fairfax, VA  -77.3063733            5
66   38.029306  Charlottesville, VA  -78.4766781            4
69  38.7890522      Springfield, VA  -77.1870368            5
80  45.8907389   Prince William, VA  -67.0122574            4
98  38.6581723       Woodbridge, VA  -77.2497049            5
      Latitude             City, State     Longitude User Ratings
0   38.8903961           Arlington, VA   -77.0841585            2
1   27.7703796       St Petersburg, FL   -82.6695085            2
4   39.9622601            Columbus, OH   -83.0007065            2
12   34.053717         Los Angeles, CA  -118.2427266            2
29  42.8864468             Buffalo, NY   -78.8783689            2
79  51.5073219  London, United Kingdom    -0.1276474            a

In [6]:
# Find the unique rows in a data frame column
print(pd.unique(df["User Ratings"].ravel()))

# Iterate through data frame
for index, row in df.iterrows():
    print(index, row['City, State'])

['2' '3' '4' '5' 'a']
0 Arlington, VA
1 St Petersburg, FL
2 Jamaica, NY
3 San Francisco, CA
4 Columbus, OH
5 Dallas, TX
6 Annapolis, MD
7 Arcadia, CA
8 Jacksonville, FL
9 Alexandria, VA
10 San Jose, CA
11 Manhattan, NY
12 Los Angeles, CA
13 Washington, DC
14 Providence, RI
15 Alameda, CA
16 Lawrenceville, GA
17 Bay Area, CA
18 Ferndale, MI
19 Fredericksburg, VA
20 Canoga Park, CA
21 Manhattan, NY
22 Durham, NC
23 Staten Island, NY
24 San Diego, CA
25 Capitol Hill/Northeast, Washington DC
26 Northridge, CA
27 Atlanta, GA
28 San Antonio, TX
29 Buffalo, NY
30 Fairfax, VA
31 Fort Lauderdale, FL
32 Pittsburgh, PA
33 A, A
34 Houston, TX
35 Potomac, MD
36 New Britain, CT
37 Beaufort, SC
38 Anacostia, Washington DC
39 Vancouver, Canada
40 Long Beach, CA
41 Austin, TX
42 Highland Park, IL
43 Hyattsville, MD
44 Brookline, MA
45 Torrey Pines, San Diego, CA
46 Boston, MA
47 Drexel Hill, PA
48 Edgewater, NJ
49 Santa Clara, CA
50 Herriman, UT
51 Hicksville, NY
52 Raleigh, NC
53 Wesley Heights, Washington, DC
54 Redlands, CA
55 North Beach, MD
56 Allston, MA
57 Newark, DE
58 Chino, CA
59 California, MD
60 Bellevue, WA
61 Gretna, NE
62 Princeton, NJ
63 Avon, MA
64 Ogontz Campus, PA
65 Orlando, FL
66 Charlottesville, VA
67 Irvine, CA
68 Walnut Creek, CA
69 Springfield, VA
70 Union, NJ
71 Cambridge, MA
72 Minneapolis, MN
73 Georgetown, Washington, DC
74 Seattle, WA
75 Bay Ridge, Brooklyn, NY
76 Crofton, MD
77 Evanston, IL
78 Bethesda, MD
79 London, United Kingdom
80 Prince William, VA
81 Indianapolis, IN
82 Phoenix, AZ
83 New York, NY
84 Tampa, FL
85 West Palm Beach, FL
86 Miramar, FL
87 WEST HILLS, CA
88 Westlake, OH
89 Sugar Land, TX
90 Philadelphia, PA
91 Salt Lake City, UT
92 Sarasota, FL
93 Rowland Heights, CA
94 Egg Harbor City, NJ
95 Baytown, TX
96 Downey, CA
97 East Elmhurst, NY
98 Woodbridge, VA
99 Fullerton, CA
100 CA, CA
101 FLUSHING, NY

## Clean the data

In [23]:
# split data
# Zip is an iterator in a pandas data frame. Lambda is an anonymous function
df['City'], df['State'] = zip(*df['City, State'].apply(lambda x: x.split(',')))
# Delete column from DataFrame
del df['City, State']
print(df.head())

     Latitude     Longitude User Ratings           City State
0  38.8903961   -77.0841585            2      Arlington    VA
1  27.7703796   -82.6695085            2  St Petersburg    FL
2  40.6914852   -73.8056771            3        Jamaica    NY
3  37.7792768  -122.4192704            3  San Francisco    CA
4  39.9622601   -83.0007065            2       Columbus    OH

In [38]:
# lower case
df["City"] = df["City"].str.lower()
df["State"] = df["State"].str.lower()
# drop missing
df_new = df.dropna(axis=0, how='any')
print(df.head())
print(df.shape)
print(df_new.shape)

       Latitude     Longitude User Ratings             City State
42   25.0657658  -77.37495599            5    highland park    il
86  25.97591145  -80.33472113            5          miramar    fl
31   26.1223084   -80.1433786            4  fort lauderdale    fl
85   26.7153425   -80.0533746            3  west palm beach    fl
92   27.3364347   -82.5306527            4         sarasota    fl
(102, 5)
(100, 5)

In [40]:
# drop invalid
for i in range(len(df.City)):
    if (df['User Ratings'].iloc[i]!='5' and df['User Ratings'].iloc[i]!='4' and df['User Ratings'].iloc[i]!='3'
       and df['User Ratings'].iloc[i]!='2' and df['User Ratings'].iloc[i]!='1'):
        df_new = df.drop(i)
print(df_new.shape)
# drop missing
df_new = df_new.dropna(axis=0, how='any')
print(df_new.shape)

(101, 5)
(99, 5)

In [41]:
# Sort data by multiple columns
df_new = df_new.sort_values(by=['Latitude', 'Longitude'], ascending=[1, 0])
print(df_new.head())
print(df_new.shape)

       Latitude     Longitude User Ratings             City State
42   25.0657658  -77.37495599            5    highland park    il
86  25.97591145  -80.33472113            5          miramar    fl
31   26.1223084   -80.1433786            4  fort lauderdale    fl
85   26.7153425   -80.0533746            3  west palm beach    fl
92   27.3364347   -82.5306527            4         sarasota    fl
(99, 5)

In [42]:
# Write the data to a file
myfile = "netid.txt"
df.to_csv(myfile, sep='|')